#addAriticleId {
  padding: 10px;
  .findClass{
    height: 60px;
    margin-top: 20px;
    width: 100%;
    .ivu-form .ivu-form-item-label{
      font-size: 12px;
    }
    .ivu-form-item {
      float: right;
    }
  }
  .essayTableClass {
    padding: 1px;
  }
  .essayPageClass {
    margin-top: 10px;
    .ivu-page{
      float: right;
    }
  }
}





